@keyframes rotateIn {
    0% {
      opacity: 0;
      transform: rotate(-180deg);
    }
    100% {
      opacity: 1;
      transform: rotate(0);
    }
  }
  
  .heading-animation {
    animation: typingAnimation 3s steps(20, end) infinite, colorChange 5s infinite;
  }
  
  .heading-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .heading-text {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    opacity: 0; /* Initial opacity for typing animation */
  }
  .subheading-text {
    font-size: 30px;
    color: #555; /* Adjust color as needed */
    margin-top: 12px; /* Increase margin for spacing */
    font-style: italic; /* Add italic style for emphasis */
    text-align: center; /* Center-align the subheading */
    line-height: 1.5; /* Adjust line height for readability */
  }
  
  /* Typing animation keyframes */
  @keyframes typingAnimation {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  /* Color change animation keyframes */
 /* Color change animation keyframes */
@keyframes colorChange {
  0% {
    color: #333; /* Starting color */
  }
  100% {
    color: #0000ff; /* Blue color */
  }
}

.total-items {
  color: black; /* Green color */
  font-weight: initial;
}
