/* ProductDetailsStyles.css */

.product-details {
  margin-top: 20px;
}

.product-details-info {
  padding: 20px;
}

.similar-products {
  margin-top: 40px;
}

.card {
  width: 250px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.card-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #212529;
  color: #fff;
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  max-height: 500px; /* Adjust as needed */
  object-fit: contain; /* Ensures the entire image is shown without cropping */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom {
  background-color: #ffa41c !important; /* Amazon-like orange */
  border-color: #ffa41c !important;
  color: white !important;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
  background-color: #e69500 !important; /* Darker orange on hover */
  transform: scale(1.05);
}
